<div class="container text-center inicio">
    <div class="row mt-4">
        <div class="col-md-12 offset-md-6">
            <div class="card text-white mb-3">
                <div class="card-header p-4">Your Ideal Outfits</div>
                <div class="card-body bg">
                    <div class="imagen"><img src="../../../assets/img/Imagen1.jpg" alt="Imagen de inicio" width="300px" height="400px"></div>
                    <a href="/login" class="nav-link mt-5">Inicio de sesión administrador</a>
                    <a href="/catalogue" class="nav-link">Ver catálogo</a>
                </div>
            </div>
        </div>
    </div>
</div>
