<div class="container">
    <div class="bg-color container-head">
        <header>
            <a href="/index.html"><h1 class="text-light text-center">Your Ideal Outsfits</h1></a>
        </header>
    </div>

    <main>
        <div class="container-img">
            <img class="img-fluid mx-auto d-block" src="./assets/img-inicio.jpg" alt="Imagen página principal">
        </div>
        <div class="container-url">
            <a href="#">Inicio de sesión administrador</a>
            <a href="#">Ver catálogo</a>
        </div>
    </main>
</div>